.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# ignore temporary raw data from ENCODE and other
data-raw/GM12878_Stat1.bigWig
data-raw/E-MTAB-2323.additional.1.zip
data-raw/TS5_*
data-raw/hg19_MA0139.1.mrkv1.ms.gz

# ignore bin directory
bin
inst/doc
docs
pkgdown-output

# example outputof vignettes
vignettes/loop_interactions.bedpe
